* {
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    color: #1D5222;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

.main-image {
    background: url("../images/zaz12.png") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 867px;
    position: relative;
}

.main-image-text {
    font-family: El Messiri, serif;
    font-style: normal;
    font-weight: 200;
    width: 100%;
    font-size: 5em;
    line-height: normal;
    color: white;
    padding-left: 95px;
    position: absolute;
    top: 530px;
}

.adaptive-image {
    max-width: 100%;
    height: auto;
    display: block
}

.clumba-image {
    z-index: 1;
    position: absolute;
    top: 115px;
    left: 0;
}

.el-image {
    z-index: 1;
    position: absolute;
    top: -55px;
    right: 0;
}

.text-center-container {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: normal;
    text-align: center;
    color: #07370C;
    padding: 0 10% 0 10%;
    position: relative;
    z-index: 2;
}

.text-block {
    padding-top: 40px;
}

.how-we-work {
    padding-top: 300px;
    font-family: Roboto, serif;
}

.check {
    display: flex;
    justify-content: center;
    width: 100%;
}

.send-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.text-white {
    color: white;
}

.form {
    background-color: #1D5222;
}

.name-input {
    width: 300px;
    height: 30px;
    margin: 10px;
    border: none;
    color: white;
    background-color: #1D5222;
    border-bottom: 2px solid white;
}

::placeholder { /* Firefox, Chrome, Opera */
    color: #cdcdcd;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.email-input {
    background-color: #1D5222;
    width: 300px;
    height: 30px;
    margin: 10px;
    border: none;
    color: white;
    border-bottom: 2px solid white;
}

.about-input {
    background-color: #1D5222;
    color: white;
    width: 620px;
    height: 30px;
    border: none;
    border-bottom: 2px solid white;
}

.backfon {
    background-image: url("../images/backfon.png");
    width: 304px;
    height: 475px;
    opacity: 1;
    border: 3px solid transparent;
}

.flex1 {
    background-image: url("../images/flex1.png");
    width: 304px;
    height: 475px;
    border: 3px solid #07370C;
    margin: 10px;
}

.flex1text1 {
    padding-top: 75px;
    padding-left: 51px;
    padding-right: 54px;
    padding-bottom: 74px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
}

*.green-btn {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    display: block;
    width: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 8px 16px;
    margin: 20px auto;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

*.green-btn {
    background-color: rgb(43, 153, 91);
    border: 1px solid rgb(33, 126, 74);
}

*.green-btn:hover {
    background-color: rgb(75, 183, 141);
}

.flex2 {
    background-image: url("../images/flex2.png");
    width: 304px;
    height: 475px;
    border: 3px solid #07370C;
    margin: 10px;
}

.flex1text2 {
    padding-top: 75px;
    padding-left: 51px;
    padding-right: 54px;
    padding-bottom: 74px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
}

.flex3 {
    background-image: url("../images/flex33.png");
    width: 304px;
    height: 475px;
    border: 3px solid #07370C;
    margin: 10px;
}

.flex1text3 {
    padding: 75px 54px 74px 51px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
}

.offers {
    background: #1D5222;
    width: auto;
    height: 1000px;
    opacity: 1;

}

.flex-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
}

.portfolio-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
}

.portfolio-container > div {
    text-align: center;
    font-size: 25px;
    padding: 20px 100px 0 100px;
}
.present2 {
    background: #1D5222;
    width: auto;
    height: 400px;
    opacity: 1;
}

.el-text {
    font-family: Roboto, serif;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

.flex-block {
    width: 350px;
}

.picin1 {
    background-image: url("../images/present1.png");
    height: 300px;
    width: 325px;
    margin-top: 70px;
    padding-top: 300px;
}

.picin2 {
    background-image: url("../images/present2.png");
    height: 300px;
    width: 325px;
    margin-top: 70px;
    padding-top: 300px;

}

.picin3 {
    background-image: url("../images/present3.png");
    height: 300px;
    width: 325px;
    margin-top: 70px;
    padding-top: 300px;
}

.picin4 {
    background-image: url("../images/present4.png");
    height: 300px;
    width: 325px;
    padding-top: 300px;

}

.picin5 {
    background-image: url("../images/present5.png");
    height: 300px;
    width: 325px;
    padding-top: 300px;

}

.picin6 {
    background-image: url("../images/present6.png");
    height: 300px;
    width: 325px;
    padding-top: 300px;
}

.picintext {

}

.offers-title {
    width: 100%;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    height: 65px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-top: 20px;
}

.textexmpl {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: normal;
    text-align: center;
    color: #1D5222;
    text-align: center;
}

.textexmpl1 {
    width: 100%;
    height: 100px;
}

.carousel {
    margin: 0 auto;
    height: 681px;
    width: auto;
}

.p {
    color: #1D5222;
    font-size: 20px;
}

.menu-link {
    color: #1D5222;
    font-size: 21px;
    padding: 10px;
}

.menu-li {
    margin-top: 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-title {
    color: #1D5222;
    margin: 10px;
    padding: 10px
}

.request-title {
    padding: 10px 0 20px 0;
}

.request-text {
    font-size: 1.5rem;
    text-decoration: none;

}

.telephone {
    margin: 0;
}

.line {
    padding-top: 2px;
    padding-bottom: 2px;
}

.info {

}

.btn-send {
    background-color: #1D5222;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
}

.logo {
    padding: 40px;
}

.times {
    margin: 0;
}

.address {
    margin: 0;
}

.end {
    width: auto;
    height: 185px;
    background: #1D5222;
}

.zel {
    font-family: Roboto;
    font-size: 48px;
    line-height: normal;
    color: #FFFFFF;
    padding-top: 74px;
    padding-left: 25px;
}

.zeltel {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: #FFFFFF;
    padding-left: 174px;
}
