.image {
    background-image: url("../images/zaz12.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 867px;
}
.pictext {
    font-family: El Messiri;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: normal;
    color: #FFFFFF;
    padding-top: 571px;
    padding-left: 95px;
}

.textunderpic {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: normal;
    text-align: center;
    margin-top: 50px;
    color: #07370C;
}

.image1 {
    background: url("../images/zaz13.png") no-repeat;
    width: 100%;
    height: 772px;
    padding-top: 125px;
}

.howwework {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: normal;
    text-align: center;
    color: #1D5222;

}

.check {
    display: flex;
    justify-content: center;
    width: 100%;

}

.backfon {
    background-image: url("../images/backfon.png");
    width: 374px;
    height: 513px;
    opacity: 1;
    border: 3px solid transparent;
}

.flex1 {
    background-image: url("../images/flex1.png");
    width: 374px;
    height: 513px;
    border: 3px solid #07370C;
    margin: 10px;
}

.flex1text1 {
    padding-top: 135px;
    padding-left: 51px;
    padding-right: 54px;
    padding-bottom: 74px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
}

a.green {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    display: block;
    width: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 8px 16px;
    margin: 20px auto;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

a.green {
    background-color: rgb(43, 153, 91);
    border: 1px solid rgb(33, 126, 74);
}

a.green:hover {
    background-color: rgb(75, 183, 141);
}

.flex2 {
    background-image: url("../images/flex2.png");
    width: 374px;
    height: 513px;
    border: 3px solid #07370C;
    margin: 10px;
}

.flex1text2 {
    padding-top: 135px;
    padding-left: 51px;
    padding-right: 54px;
    padding-bottom: 74px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
}

.flex3 {
    background-image: url("../images/flex33.png");
    width: 374px;
    height: 513px;
    border: 3px solid #07370C;
    margin: 10px;
}

.flex1text3 {
    padding-top: 135px;
    padding-left: 51px;
    padding-right: 54px;
    padding-bottom: 74px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
}

.present1 {
    background: #1D5222;
    width: auto;
    height: 500px;
    opacity: 1;

}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.present2 {
    background: #1D5222;
    width: auto;
    height: 400px;
    opacity: 1;
}

.flexcontext {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;

}

.picin1 {
    background-image: url("../images/present1.png");
    height: 300px;
    width: 325px;
    margin-top: 70px;

}

.picin2 {
    background-image: url("../images/present2.png");
    height: 300px;
    width: 325px;
    margin-top: 70px;

}

.picin3 {
    background-image: url("../images/present3.png");
    height: 300px;
    width: 325px;
    margin-top: 70px;
}

.picin4 {
    background-image: url("../images/present4.png");
    height: 300px;
    width: 325px;

}

.picin5 {
    background-image: url("../images/present5.png");
    height: 300px;
    width: 325px;

}

.picin6 {
    background-image: url("../images/present6.png");
    height: 300px;
    width: 325px;
}

.forest {
    background-repeat: no-repeat;
}

.carousel {
    margin: 0 auto;
    height: 681px;
    width: 1021px;
}

.p {
    color: #1D5222;
    font-size: 20px;
}

.menu-link {
    color: #1D5222;
    font-size: 21px;
    padding: 10px;
}

.menu-li {
    margin-top: 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-title {
    color: #1D5222;
}

.telephone {
    margin: 0;
}

.line {
    padding-top: 2px;
    padding-bottom: 2px;
}

.info {

}

.btn-send {
    background-color: #1D5222;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
}

.logo {
    padding: 40px;
}

.times {
    margin: 0;
}

.address {
    margin: 0;
}
